/*** Generiek ***/

:root {
  --primary-bg-radiant: radial-gradient(circle, blue, salmon);
  --alt-bg-radiant: radial-gradient(circle, salmon, blue, salmon);
  --btn-bg-radiant: linear-gradient(purple, salmon);
  --primary-color: Purple;
  --secondary-color: Ivory;
  --btn-hover-color: salmon;
  /*--btn-hover-color: rgb(221, 218, 218);*/
}

body {
  background: var(--secondary-color);
  font-family: Arial;
  min-height: 60em;
  background: var(--primary-bg-radiant);
}

/*** Hoofdstructuur ***/

.page {
  min-height: 58em;
  margin: 1em auto;
  background-color: var(--secondary-color);
  padding: 0.25em 1em;
  box-shadow: 3px 3px 5px var(--primary-color);
  border-radius: 0.25em;
}

main {
  display: flex;
}

.pagetitle {
  padding: 0.25em;
  margin: 0.25em 0;
  text-align: center;
  font-size: 4em;
  color: var(--secondary-color);
  border: thin solid var(--primary-color);
  border-radius: 0.25em;
  box-shadow: 3px 3px 5px var(--primary-color);
  background: var(--alt-bg-radiant);
}

.navbar {
  min-width: 14em;
  padding: 1em;
  margin-top: 3em;
  margin-right: 1em;
  border: thin solid var(--primary-color);
  border-radius: 0.25em;
  background: var(--primary-bg-radiant);
  box-shadow: 3px 3px 5px var(--primary-color);
}

article {
  text-align: center;
  flex-grow: 2;
  padding: 0 6em;
  margin: 1em 0.25em 0 0.25em;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  .navbar {
    flex-direction: row;
    margin-top: 0;
    padding: 0;
  }
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  border: thin solid var(--primary-color);
  border-radius: 0.25em;
  box-shadow: 3px 3px 5px var(--primary-color);
}

/*** Onderdelen menu en andere details ***/

/* Is het niet een beetje dubbelop (en onlogisch?) om r70 het menu op flex-row te zetten,
in r93 de menuopties op flex te zetten, met de menuopties op column
en verderop (r146) nog een keer, maar dan weer op row? */

.menuopties {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sectiontitle,
.menutitle {
  color: var(--primary-color);
  padding: 0.5em 0;
  margin: 0.5em 0;
  text-align: center;
}

.menutitle {
  color: var(--secondary-color);
}

.buttons {
  margin: 0.25em auto;
  width: 14em;
  padding: 0 4em;
}

button {
  font-size: large;
  color: var(--secondary-color);
  background: var(--btn-bg-radiant);
  border: thin solid var(--primary-color);
  border-radius: 0.75em;
  outline: none;
}

button:hover,
/*li:hover deze hover lijkt overbodig? */
a:hover {
  outline: none;
  background: var(--btn-hover-color);
  border: var(--btn-hover-color);
}

li {
  list-style: none;
  margin: 0.25em 0.25em;
}

li > a {
  display: inline-block;
  border: thin solid var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 0.25em;
  background: var(--secondary-color);
  font-size: large;
  padding: 0.5em 0.5em;
}

@media (max-width: 1024px) {
  .menuopties {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menutitle {
    display: none;
  }
}

@media (min-width: 1024px) {
  li > a {
    width: 90%;
  }
}

#gameover {
  visibility: hidden;
}
