* {
	margin: 0;
}
ul {
	padding-left: 0;
}

/* HEADER */

.headerbalk {
	text-align: center;
	background-color: DarkGreen;
	color: #FFF;
	padding: 0.25em;
	font-weight: 900;
	font-size: 1.5em;
}

/* NAVIGATION */
.navigatiebalk {
	float: left;
	border: 1px solid #000;
	margin: 2em 2em;
	background-color: Gray;
	border-radius: 0.5em;
}

.navheader {
	margin: 1em;
	text-align: center;
	font-size: 1.5em;
	color: #FFF;
}

.menuitem {
	list-style: none;
	color: #fff;
}

.menuitemlink {
	color: inherit;
	text-decoration: inherit;
	display: block;
	background-color: DarkGreen;
	padding: 0.35em;
	margin: 0.5em;
	border-radius: 0.5em;
}

.menuitemlink:hover {
	transform: scale(1.1);
}

/* CONTENT */
.contentpage {
	text-align: center;
	font-size: 1.75em;
	padding: 0.5em;
}

.contentpage p, h1 {
	padding: 0.25em;
}

.buttons {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.buttons {
		clear: left;
	}
}

.button {
	background-color: DarkGreen;
	color: #FFF;
	padding: 0.25em 1em;
	margin: 1em 1em;
}

.gamecanvas {
	border: 1px solid #000;
	display: block;
	margin: 0 auto;
}
